@font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}

body {
    text-align: center;
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
      background-size: cover;
}

img {
    margin-top: 100px;
    width: 20%;
}

h1 {
    color: #fff;
    font-size: 40px;  
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 30px
        
}

p {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    color: #fff;
    text-align: left;
    
}

.textboxes {
    text-align: left;
    margin-left: 34%;
    margin-right: 34%;
    margin-bottom: 30px
}

a {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    color: #fff;
}

#mc_embed_signup {
    margin-left: auto ;
    margin-right: auto ;
    text-align: center;
}

#mc_embed_signup label { 
    display: block; 
    font-size: 18px; 
    padding-bottom: 7px; 
    color: #fff; 
    font-weight: bold; 
    font-family: 'Muli', sans-serif;
}

#mc_embed_signup input.email {
    text-align: center
    display: block;
    padding: 8px 4px;
    margin: 0 4% 10px 0;
    text-indent: 5px;
    color: #818181;
    font-size: 1.0em;
    background: #f3f3f3;
    font-weight: bold;
    width: 100%;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#mc_embed_signup input.email:focus { 
    color: #2db9c9;
    background: #f3f3f3;
    -webkit-box-shadow: 0 0 12px #80cf7b;
    -moz-box-shadow: #80cf7b;
    box-shadow: #80cf7b;
}

#mc_embed_signup submit: {
    text-align: center;
}
